# RxSwift
github "ReactiveX/RxSwift" ~> 5.0

# RxAction
github "RxSwiftCommunity/Action" ~> 4.0.1

# Overture
github "pointfreeco/swift-overture" ~> 0.5

# RxDataSources
github "RxSwiftCommunity/RxDataSources" ~> 4.0

# Snapkit
github "SnapKit/SnapKit" ~> 4.0.1