# RxSwift
github "ReactiveX/RxSwift" ~> 5.0

# RxAction
github "RxSwiftCommunity/Action" "master"

# Overture
github "pointfreeco/swift-overture" ~> 0.5

# RxDataSources
github "RxSwiftCommunity/RxDataSources" ~> 4.0

# Snapkit
github "SnapKit/SnapKit" ~> 5.0

# QuantiLogger
github "Qase/QuantiLogger" "FEAT/swift-5.2"