# RxSwift
github "ReactiveX/RxSwift" "6.1.0"

# Overture
github "pointfreeco/swift-overture" ~> 0.5

# RxDataSources
github "RxSwiftCommunity/RxDataSources" ~> 5.0

# Snapkit
github "SnapKit/SnapKit" ~> 5.0